@use 'variables' as *;

.lists-buttons-container, .lists-mobile-buttons-container {
  display: flex;
  position: sticky;
  top: 3.5rem;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.2rem;
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    
    :first-child {
      font-size: 1.2rem;
    }
  }
}

.lists-mobile-buttons-container {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  padding: .5rem;
  justify-content: space-between;
  margin-top: auto;
  background-color: rgba(128, 128, 128, 0.479);
  width: 100vw;
  
  button {
    flex-grow: 1;
  }
}

.emoji-button {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;

  &:hover {
    &[data-selected='false'] {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &[data-selected='true'] {
    // transform: scale(1.6);
    animation: celebrate 1s ease-in-out 1;
  }
  
  &[data-discarted='true'] {
    filter: grayscale(1);
  }
}

@keyframes celebrate {

  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.6) rotate(10deg);
  }

  50% {
    transform: scale(1) rotate(-10deg);
  }

  75% {
    transform: scale(1.6) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

// .celebrate {
//   animation: celebrate 1s ease-in-out 3;
// }

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &.primary {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: adjust-color($primary-color, $lightness: -10%);
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: adjust-color($secondary-color, $lightness: -10%);
    }
  }

  &.info {
    background-color: $info-color;
    color: white;

    &:hover {
      background-color: adjust-color($info-color, $lightness: +10%);
    }
  }

  &.danger {
    background-color: $danger-color;
    color: white;

    &:hover {
      background-color: adjust-color($danger-color, $lightness: +10%);
    }
  }

  &.active {
    background-color: $active-color;
    color: black;
    font-weight: bold;

    &:hover {
      background-color: adjust-color($active-color, $lightness: +10%);
    }
  }

  .book-count {
    font-size: 0.875rem;
    // margin-top: 0.25rem;
    padding: 0.1rem 0.4rem;
    // margin-left: .5rem;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 50%;
  }
}
