.user-avatar {
  transform: scale(1);
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

.deploy-box-container {
  position: relative;
  
}

.deploy-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: .5rem;
  position: absolute;
  top: 2.8rem;
  // top: 3.5rem;
  z-index: 5001;
  right: .8rem;
  padding: 1rem;
  border-radius: 10px;
  width: max-content;
  background-color: white;
  
  &::before {
    content: '';
    position: absolute;
    top: -1rem;
    right: .8rem;
    border: 0.5rem solid transparent;
    border-bottom-color: white;
  }
  
}

.user-menu-name {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic;
}
