$primary-color: #3b82f6;
$secondary-color: #10b981;
$info-color: #979797;
$danger-color: #ef4444;
$active-color: #ffd000;
$background-color: #f3f4f6;
$text-color: #333333;
$border-color: #c7c7c7;
// $border-color: #e5e7eb;
$fallback-color: rgba(49, 49, 49, 0.4);
